/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to right, #a861cf, #7b93d1);
}

/* Header Styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

section img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffcc00;
}

/* Section Styles */
section {
    padding: 20px;
}

section p a:hover{
    color: crimson;
}

blockquote {
    font-style: italic;
    margin-bottom: 10px;
}

progress {
    width: 100%;
    transition: width 0.3s ease;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

footer p {
    margin: 5px 0;
}

hr {
    border-color: #fff;
    margin: 10px 0;
}

